* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: #eee;
	overflow-x: hidden;
}

.full {
	width: 100%;
	height: 100%;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	width: 100vw;
	height: 100vh;
}

.pointer {
	cursor: pointer;
}

.drawer {
	background-color: red;
}

.Link {
	text-decoration: none;
	list-style: none;
	color: black;

	font-weight: bolder;
}

.sidebar {
	position: relative;
	width: 12vw;
	height: 100%;

	position: fixed;
	left: 0;
	background: #414040;
}

.sidebar .buttons {
	padding-top: 100px;
}

.sidebar button {
	display: flex;
	align-items: center;
	justify-content: left;

	border: none;

	width: 100%;
	height: 35px;

	color: white;
	background: none;
	margin-top: 20px;

	padding-left: 15px;
	font-size: 1.2em;

	text-align: left;
}

.sidebar button:hover {
	cursor: pointer;
	border: #646161 0.5px solid;
}

.sidebar button:active {
	border: #111 1px solid;
}

.sidebar button h4 {
	padding-left: 8px;
	width: 50px;
	font-size: 1em;
}

.sidebar .navigate {
	padding-top: 50vmin;
}

.sidebar .navigate button {
	font-size: 1em;
}

.items-container {
	display: flex;
	align-items: top;
	justify-content: center;
	flex-direction: column;

	background: #000000;

	max-width: 50vw;
	height: 100vh;

	margin: 0 auto;
}

.items-container table {
	padding-top: 200px;
}

.items-container thead tr {
	background: #bf95df;
}

.items-container thead th {
	padding: 15px;
}

.items-container tbody td {
	color: #333;
	padding: 15px;
	width: 100%;
}

.items-container tbody tr:nth-child(even) {
	background-color: #9aa7b8;
}

.items-container tbody tr:nth-child(odd) {
	background-color: #dcdfe4;
}

.items-container tbody .single-item ~ .single-item {
	text-align: right;
}

.items-container tbody .single-item:nth-child(5),
.items-container tbody .single-item:nth-child(6) {
	text-align: center;
	padding: 0;
	border: 0;
	margin: 0;
}

.items-container table button {
	cursor: pointer;
	padding: 15px;
	border: none;
	color: #fda;
	background: none;
	font-size: 1.6em;
}

.items-container table button:active {
	transform: scale(0.9);
}

.items-container table tbody .single-item:nth-child(5) button {
	color: rgb(194, 64, 64);
}
.items-container table tbody .single-item:nth-child(6) button {
	color: rgb(77, 77, 175);
}

.update-item form {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 10px;
	flex-direction: column;
	padding: 100px;
	border-radius: 20px;
}

.update-item form input,
.update-item form select {
	width: 250px;
	padding: 9px;
}

.update-item button {
	width: 120px;
	height: 25px;
}

.add-button {
	cursor: pointer;
	margin-top: 50px;
	background: #274f24;
	color: white;
	padding: 20px;
}
